{{ $background := .Resources.GetMatch "background" }}
{{ if $background }}
{{ with $background }}
<style>
    body.hasbackground {
        background: url('{{ .Permalink }}');
    }
</style>
{{ end }}
{{ .Scratch.Set "hasbackground" true }}
{{ else }}
{{ .Scratch.Set "hasbackground" false }}
{{ end }}

<!-- main -->
<!-- <link rel="stylesheet" href="{{ "css/main.css" | absURL }}"> -->

<!-- google fonts -->
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ .Site.Params.font }}"> -->

<!-- bootstrap -->
<!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" crossorigin="anonymous" -->
<!-- <link rel="stylesheet" href="{{ "bootstrap/5.1.3/bootstrap.min.css" | absURL }}"> -->
{{ if .Site.Params.fullbs }}
{{ .Scratch.Set "bs" "bootstrap/bootstrap.min.css" }}
{{ else }}
{{ .Scratch.Set "bs" "bootstrap/bootstrap-shoelace.min.css" }}
{{ end }}
{{ $bs := resources.Get (.Scratch.Get "bs") }}
{{ $bslic := resources.Get "bootstrap/Bootstrap_LICENSE.txt" }}
{{ $bslic.Publish }}

<!-- font awesome -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" /> -->

{{ $brands := resources.Get "fontawesome/css/fa6-brands.css" | resources.ExecuteAsTemplate "style.fa6-brands.css" . }}
{{ $regular := resources.Get "fontawesome/css/fa6-regular.css" | resources.ExecuteAsTemplate "style.fa6-regular.css" . }}
{{ $solid := resources.Get "fontawesome/css/fa6-solid.css" | resources.ExecuteAsTemplate "style.fa6-solid.css" . }}
{{ $fa := resources.Get "fontawesome/css/fontawesome6.min.css" }}
{{ $falic := resources.Get "fontawesome/Font_Awesome_6_Free_LICENSE.txt" }}
{{ $falic.Publish }}

<!-- Shoelace -->
{{ $foptions := (dict "targetPath" "fonts.css" "outputStyle" "compressed" "enableSourceMap" false) }}
{{ $sassf := resources.Get "sass/fonts.scss" }}
{{ $shoelacefont := $sassf | resources.ExecuteAsTemplate "style.fonts.scss" . | resources.ToCSS $foptions }}
{{ $flic := resources.Get "fonts/Open_Sans_Apache_License.txt" }}
{{ $flic.Publish }}
{{ $flic := resources.Get "fonts/Roboto_Apache_License.txt" }}
{{ $flic.Publish }}


{{ $soptions := (dict "targetPath" "shoelace.css" "outputStyle" "compressed" "enableSourceMap" false) }}
{{ $sass := resources.Get "sass/shoelace.scss" }}
{{ $shoelacestyle := $sass | resources.ExecuteAsTemplate "style.shoelace.scss" . | resources.ToCSS $soptions }}
{{ $shoelace := slice $bs $brands $regular $solid $fa $shoelacefont $shoelacestyle | resources.Concat "shoelace.css" | fingerprint }}
<link rel="stylesheet" href="{{ $shoelace.Permalink | absURL }}" integrity="{{ $shoelace.Data.Integrity }}">

<!-- custom -->
{{ range .Site.Params.css }} <link rel="stylesheet" href="{{ . | absURL }}"> {{ end }}
