{{ $headerbackground := .Resources.GetMatch "headerbackground" }}
<header class="text-center{{ if $headerbackground }} headerbackground-text headerbackground{{ end }} mb-2">
    {{ with $headerbackground }}
    <style>
    header {
        background-image: url('{{ .Permalink }}');
    }
    </style>
    {{ end }}
    {{ $headeravatar := .Resources.GetMatch "headeravatar" }}
    {{ if $headeravatar }}
    <div class="mb-md-2">
        {{ with $headeravatar }}
        <img class="profile profile-mh img-fluid rounded-circle" src="{{ .Permalink }}" title="{{ .Title }}">
        {{ end }}
    </div>
    {{ end }}
    {{ with .Params.headertitle }}
    <h1>{{ . }}</h1>
    {{ end }}
    {{ with .Params.headersub }}
    <h2>{{ . }}</h2>
    {{ end }}
    {{ with .Params.headerqual }}
    <h3>{{ . }}</h3>
    {{ end }}
    {{ if .Params.headersocial }}
    {{ partial "navsocial" . }}
    {{ end }}
</header>
