<div class="list-item col-md-4 mb-3">
    {{ $.Scratch.Set "link" .RelPermalink }}
    {{ with .Params.repo }}
        {{ $repoHost := default "github" $.Params.repoHost }}
        {{ $repoUsername := default "#" $.Params.repoUsername }}
        {{ if eq "github" $repoHost }}
            {{ printf "https://github.com/%s/%s/" $repoUsername . | $.Scratch.Set "link" }}
        {{ else if eq "gitlab" $repoHost }}
            {{ printf "https://gitlab.com/%s/%s/" $repoUsername . | $.Scratch.Set "link" }}
        {{ else if eq "bitbucket" $repoHost }}
            {{ printf "https://bitbucket.org/%s/%s/" $repoUsername . | $.Scratch.Set "link" }}
        {{ end }}
    {{ end }}
    {{ with .Params.link }} {{ $.Scratch.Set "link" . }} {{ end }}

    {{ .Date.Format (.Site.Params.dateFormat | default "Monday, 2 January 2006") | $.Scratch.Set "subheader" }}
    {{ with .Description }} {{ $.Scratch.Set "subheader" . }} {{ end }}

    <div class="row list-item-content">
        {{ with $.Resources.GetMatch "thumbnail" }}
        <div class="col-md-auto">
            <img src="{{ .Permalink }}">
        </div>
        {{ end }}
        <div class="col">
            <h4><a href="{{ .Scratch.Get "link" }}" target="_blank">{{ .Title }}</a></h4>
            <h5>{{ $.Scratch.Get "subheader" }}</h5>
        </div>
        {{ with $.Params.summary}} <p class="col-12">{{ . }}</p> {{ end }}
    </div>
    {{ if .Params.tags }}
    <div class="col-12 item-tags">
        {{ partial "tags" . }}
    </div>
    {{ end}}
</div>