<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {{ if .Site.Menus.main }}
        <ul class="navbar-nav flex-row me-auto">
        {{ range sort .Site.Menus.main }}
            <li class="nav-item"><a class="nav-link" href="{{ .URL }}" title="{{ .Name }}">
                <span class="{{ .Params.icon }} me-2 icon" aria-hidden="true"></span>
                <span class="d-none d-md-inline me-2" aria-hidden="true">{{ .Name }}</span>
                <span class="sr-only">{{ .Name }}</span>
            </a>
        </li>
        {{ end }}
        </ul>
        {{ end }}
        {{ if .Site.Menus.icon }}
        <ul class="navbar-nav flex-row">
            {{ range sort .Site.Menus.icon }}
            <li class="nav-item navbar-icon me-2">
                <a class="nav-link" href="{{ .URL }}" target="_blank">
                    <span class="{{ .Params.icon }} fa-lg nav-link icon" title="{{ .Name }}" aria-hidden="true"></span>
                    <span class="sr-only">{{ .Name }}</span>
                </a>
            </li>
            {{ end }}
            {{ with .OutputFormats.Get "RSS" }}
            {{ $title := delimit (slice $.Site.Title $.Page.Title "RSS Feed") " "}}
            <li class="nav-item navbar-icon me-2">
                <a href="{{ .RelPermalink }}" class="nav-link" rel="feed" type="{{ .MediaType.Type }}" title="{{ $title }}" target="_blank">
                    <span class="fa-solid fa-square-rss fa-lg nav-item icon" title="{{ $title }}" aria-hidden="true"></span>
                    <span class="sr-only">{{ $title }}</span>
                </a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</nav>
