<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            {{ if .Site.Menus.main }}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{ range sort .Site.Menus.main }}
                    <li class="nav-item"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
                </ul>
            {{ end }}
            {{ if .Site.Menus.icon }}
                <ul class="navbar-nav flex-row mb-2 mb-lg-0">
                    {{ range sort .Site.Menus.icon }}
                        <li class="nav-item navbar-icon mx-2"><a href="{{ .URL }}"><i class="{{ .Name }}"></i></a></li>
                    {{ end }}
                </ul>
            {{ end }}
        </div>
    </div>
</nav>