<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {{ if .Site.Menus.main }}
            <ul class="navbar-nav flex-row me-auto mb-2 mb-lg-0">
            {{ range sort .Site.Menus.main }}
                <li class="nav-item"><a class="nav-link" href="{{ .URL }}"><i class="{{ .Params.icon }} me-2"></i><span class="d-none d-md-inline me-2">{{ .Name }}</span></a></li>
            {{ end }}
            </ul>
        {{ end }}
        {{ if .Site.Menus.icon }}
            <ul class="navbar-nav flex-row mb-2 mb-lg-0">
                {{ range sort .Site.Menus.icon }}
                    <li class="nav-item navbar-icon me-2"><a href="{{ .URL }}"><i class="{{ .Name }}"></i></a></li>
                {{ end }}
            </ul>
        {{ end }}
    </div>
</nav>
