{{ if or .Paginator.HasPrev .Paginator.HasNext }}

<div class="pages">

    {{ if .Paginator.HasPrev }}
        <a class="icon pages-icon" href="{{ .Paginator.Prev.URL }}" rel="prev">
            <span class="fa-solid fa-angle-left" title="Previous" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
    {{ end }}

    {{ if .Paginator.HasNext }}
        <a class="icon pages-icon" href="{{ .Paginator.Next.URL }}" rel="next">
            <span class="fa-solid fa-angle-right" title="Next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    {{ end }}

</div>

{{ end }}
