{{ define "header" }}
{{ partial "header" . }}
{{ end }}
{{ define "main" }}
<main>
    <div class="intro">
        {{ if and (.Content) (.Params.ready) }}
            <div class="homepage-content text-justify">
                <h1 class="text-center">{{ .Title }}</h1>
                {{ partial "avatar" . }}
            </div>
        {{ else }}
            <div class="text-center">
                {{ with .Site.Params.profilePic }}
                <img class="profile profile-10 img-fluid rounded-circle" src="{{ . }}">
                {{ end }}
                <h1>{{ .Site.Title }}</h1>
                <h2>{{ markdownify .Site.Params.Description }}</h2>
            </div>
        {{ end }}
        <div class="row">
            {{ partial "navline" . }}
        </div>
    </div>
</main>
{{ end }}
