{{ define "main" }}
<main>
    <div class="intro">
        {{ if and (.Content) (.Params.ready) }}
            <div class="homepage-content text-justify">
                <h1 class="text-center">{{ .Title }}</h1>
                {{ $avatar := .Resources.GetMatch "avatar" }}
                {{ if $avatar }}
                <div>
                    <div class="float-md-start text-center me-md-2 mb-md-2">
                        {{ with $avatar }}
                        <img class="profile profile-mh img-fluid rounded-circle" src="{{ .Permalink }}" title="Avatar">
                        {{ end }}
                    </div>
                    <div>
                        {{ .Content }}
                    </div>
                </div>
                {{ else }}
                    {{ .Content }}
                {{ end }}
            </div>
        {{ else }}
            <div class="text-center">
                {{ with .Site.Params.profilePic }}
                <img class="profile profile-10 img-fluid rounded-circle" src="{{ . }}">
                {{ end }}
                <h1>{{ .Site.Title }}</h1>
                <h2>{{ markdownify .Site.Params.Description }}</h2>
            </div>
        {{ end }}
        <div class="row">
            {{ partial "navline" . }}
            {{ partial "navsocial" . }}
        </div>
    </div>
</main>
{{ end }}
